#!/usr/bin/env bash
# chezmoi:template:left-delimiter="# [[" right-delimiter=]]

# Exit on error. Append || true if you expect an error.
set -o errexit
# Exit on error inside any functions or subshells.
set -o errtrace
# Do not allow use of undefined vars. Use ${VAR:-} to use an undefined VAR
set -o nounset
# Catch the error in case mysqldump fails (but gzip succeeds) in `mysqldump |gzip`
set -o pipefail
# Turn on traces, useful while debugging but commented out by default
#set -o xtrace

export PATH=# [[ includeTemplate "path" . | trim | quote ]]

function configure_finder() {
  # TODO defaults write NSGlobalDomain AppleShowAllExtensions -bool true; # show all file extensions
  # show hidden files
  defaults write com.apple.finder AppleShowAllFiles YES
  # Set the default view to be list
  defaults write com.apple.Finder FXPreferredViewStyle Nlsv
  # Show path bar in Finder
  defaults write com.apple.finder ShowPathbar -bool true
  # Don't show tags in Finder
  defaults write com.apple.finder SidebarTagsSctionDisclosedState -bool false
  # Get Finder to reload its configuration
  killall Finder
}

function configure_dock() {
  # Don't show recent applications in dock
  defaults write com.apple.dock "show-recents" -bool false
  # Set size of icons in dock
  defaults write com.apple.dock "tilesize" -int 45
  # Get Dock to reload its configuration
  killall Dock

  dockutil --remove all --no-restart
  dockutil --add "/System/Applications/App Store.app/" --section apps --no-restart
  dockutil --add "/System/Applications/System Settings.app/" --section apps --no-restart
  dockutil --add "$HOME/Applications/WezTerm.app/" --section apps --no-restart
  dockutil --add "$HOME/Applications/Slack.app/" --section apps --no-restart
  dockutil --add "$HOME/Applications/Visual Studio Code.app/" --section apps --no-restart
  dockutil --add "$HOME/Applications/Firefox.app/" --section apps --no-restart
  dockutil --add "$HOME/Applications/Thunderbird.app/" --section apps --no-restart
  dockutil --add "$HOME/Downloads/" --section others --view list --display stack --restart # restart last to pickup changes
}

function configure_keyboard() {
  # Stop inserting a "." when accidentally typing "  "
  defaults write NSGlobalDomain NSAutomaticPeriodSubstitutionEnabled -bool false
}

function configure_menu_bar() {
  # Hide battery (Stats shows it)
  defaults -currentHost write com.apple.controlcenter.plist Battery -int 24
}

function configure_spotlight() {
  # stop it crawling & using results from files being changed on disk
  defaults write com.apple.spotlight orderedItems -array \
    '{"enabled" = 1;"name" = "APPLICATIONS";}' \
    '{"enabled" = 0;"name" = "MENU_SPOTLIGHT_SUGGESTIONS";}' \
    '{"enabled" = 1;"name" = "MENU_CONVERSION";}' \
    '{"enabled" = 1;"name" = "MENU_EXPRESSION";}' \
    '{"enabled" = 0;"name" = "MENU_DEFINITION";}' \
    '{"enabled" = 0;"name" = "SYSTEM_PREFS";}' \
    '{"enabled" = 0;"name" = "DOCUMENTS";}' \
    '{"enabled" = 0;"name" = "DIRECTORIES";}' \
    '{"enabled" = 0;"name" = "PRESENTATIONS";}' \
    '{"enabled" = 0;"name" = "SPREADSHEETS";}' \
    '{"enabled" = 0;"name" = "PDF";}' \
    '{"enabled" = 0;"name" = "MESSAGES";}' \
    '{"enabled" = 0;"name" = "CONTACT";}' \
    '{"enabled" = 0;"name" = "EVENT_TODO";}' \
    '{"enabled" = 0;"name" = "IMAGES";}' \
    '{"enabled" = 0;"name" = "BOOKMARKS";}' \
    '{"enabled" = 0;"name" = "MUSIC";}' \
    '{"enabled" = 0;"name" = "MOVIES";}' \
    '{"enabled" = 0;"name" = "FONTS";}' \
    '{"enabled" = 0;"name" = "MENU_OTHER";}' \
    '{"enabled" = 0;"name" = "SOURCE";}'
}

configure_finder
configure_dock
configure_keyboard
configure_menu_bar
configure_spotlight
