#!/usr/bin/env bash
# chezmoi:template:left-delimiter="# [[" right-delimiter=]]

# Exit on error. Append || true if you expect an error.
set -o errexit
# Exit on error inside any functions or subshells.
set -o errtrace
# Do not allow use of undefined vars. Use ${VAR:-} to use an undefined VAR
set -o nounset
# Catch the error in case mysqldump fails (but gzip succeeds) in `mysqldump |gzip`
set -o pipefail
# Turn on traces, useful while debugging but commented out by default
#set -o xtrace

export PATH=# [[ includeTemplate "path" . | trim | quote ]]

function mas_uninstall() {
  installed=$(mas list | grep "$1" || true)
  if [ "$installed" != "" ]; then
    sudo mas uninstall "$1"
  fi
}

function uninstall_unwanted_default_apps() {
  mas_uninstall 409203825 # Numbers
  mas_uninstall 409201541 # Pages
  mas_uninstall 682658836 # GarageBand
  mas_uninstall 408981434 # iMovie
}

function configure_finder() {
  # TODO defaults write NSGlobalDomain AppleShowAllExtensions -bool true; # show all file extensions
  # show hidden files
  defaults write com.apple.finder AppleShowAllFiles YES
  # Set the default view to be list
  defaults write com.apple.Finder FXPreferredViewStyle Nlsv
  # Show path bar in Finder
  defaults write com.apple.finder ShowPathbar -bool true
  # Don't show tags in Finder
  defaults write com.apple.finder SidebarTagsSctionDisclosedState -bool false
  # Get Finder to reload its configuration
  killall Finder
}

function configure_dock() {
  # Don't show recent applications in dock
  defaults write com.apple.dock "show-recents" -bool false
  # Set size of icons in dock
  defaults write com.apple.dock "tilesize" -int 45
  # Get Dock to reload its configuration
  killall Dock

  dockutil --remove all --no-restart
  dockutil --add "/System/Applications/App Store.app/" --section apps --no-restart
  dockutil --add "/System/Applications/System Settings.app/" --section apps --no-restart
  dockutil --add "$HOME/Applications/WezTerm.app/" --section apps --no-restart
  dockutil --add "$HOME/Applications/Slack.app/" --section apps --no-restart
  dockutil --add "$HOME/Applications/Visual Studio Code.app/" --section apps --no-restart
  dockutil --add "$HOME/Applications/Firefox.app/" --section apps --no-restart
# [[- if and (.admin) (.full) ]]
  dockutil --add "/Applications/Bitwarden.app" --section apps --no-restart
# [[- end ]]
  dockutil --add "$HOME/Downloads/" --section others --view list --display stack --restart # restart last to pickup changes
}

function configure_keyboard() {
  # Stop inserting a "." when accidentally typing "  "
  defaults write NSGlobalDomain NSAutomaticPeriodSubstitutionEnabled -bool false
}

# [[ if and (.admin) (.full) -]]
mas version > /dev/null # verify that mas is actually installed - next call has `|| true` so won't catch missing mas
uninstall_unwanted_default_apps
# [[- end ]]
configure_finder
configure_dock
configure_keyboard
