#!/usr/bin/env bash
# chezmoi:template:left-delimiter="# [[" right-delimiter=]]

# Exit on error. Append || true if you expect an error.
set -o errexit
# Exit on error inside any functions or subshells.
set -o errtrace
# Do not allow use of undefined vars. Use ${VAR:-} to use an undefined VAR
set -o nounset
# Catch the error in case mysqldump fails (but gzip succeeds) in `mysqldump |gzip`
set -o pipefail
# Turn on traces, useful while debugging but commented out by default
#set -o xtrace

export PATH=# [[ includeTemplate "path" . | trim | quote ]]

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "wez/wezterm"

brew "bash-completion"
brew "blueutil" # used by Hammerspoon scripts
brew "readline" # .inputrc
brew "watch"
# [[ if and (.admin) (.full) -]]
brew "mas" # mas needs admin permissions depending on what it installs
# [[- end ]]

cask_args appdir: '~/Applications'
# TODO Temporarily needed until https://github.com/Homebrew/homebrew-core/pull/97394
# Re-add "dockutil" to brews list when merged
cask "hpedrorodrigues/tools/dockutil"
cask "firefox"
cask "hammerspoon"
cask "obs" # Needed to control webcam
cask "jetbrains-toolbox"
cask "stats"
cask "visual-studio-code"
cask "wez/wezterm/wezterm"
# [[ if .full -]]
cask "drawio"
cask "gimp"
cask "google-cloud-sdk"
cask "libreoffice"
cask "inkscape"
cask "slack"
# [[   if .admin -]]
cask "google-chrome"
# [[-   end ]]
# [[- end ]]

# mas "", id: 0
EOF
