{
  "workbench.startupEditor": "none",
  "git.autofetch": true,
  "workbench.editor.untitled.hint": "hidden",
  "editor.suggest.showMethods": true,
  "editor.suggest.preview": true,
  "editor.acceptSuggestionOnEnter": "on",
  "editor.snippetSuggestions": "top",
  "git.confirmSync": false,
  "editor.renderWhitespace": "all",
  "files.autoSave": "afterDelay",
  "files.autoGuessEncoding": true,
  "spellright.language": [
{{- if eq .chezmoi.os "darwin" }}
    "en"
{{- else }}
    "en_GB"
{{- end }}
  ],
  "window.autoDetectColorScheme": true,
  "workbench.editor.empty.hint": "hidden"
}
