[user]
	name = Will May
	email = will.j.may@gmail.com
[pull]
	rebase = true
[push]
	default = simple
[core]
	autocrlf = input
	attributesfile = ~/.gitattributes
[url "git@github.com:"]
	insteadOf = https://github.com/
[init]
	defaultBranch = main
