# editorconfig.org

root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.go]
indent_style = tab
indent_size = 4

# entire contents of file is compared
[home/private_dot_config/powerline-go/create_appearance.txt]
insert_final_newline = false

[home/dot_docker/contexts/meta/3384fc6800de4f1211539c4930cbe1f5a8229c0eaa8d4241fe1bd7180b0da0e6/meta.json.tmpl]
insert_final_newline = false
