{{- $docker := false -}}{{/* true if we are inside a docker container */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $admin := false -}}{{/* true if have 'admin' access to the machine */}}
{{- $email := "" -}}
{{- $slow := true -}}{{/* true if things slow to install should be included */}}

{{- if stat "/.dockerenv" -}}
{{-   $docker = true -}}
{{-   $headless = true -}}
{{-   $admin = true -}}
{{-   $email = "headless@example.test" -}}
{{-   $slow = false -}}
{{- else -}}
{{-   $admin = promptBoolOnce . "admin" "Have admin access? yes or no:"  -}}
{{-   $email = promptStringOnce . "email" "Email address for Git:"  -}}
{{- end -}}

[data]
  admin = {{ $admin }}
  docker = {{ $docker }}
  email = {{ $email | quote }}
  headless = {{ $headless }}
  slow = {{ $slow }}
[diff]

[[textconv]]
  pattern = "**/*.plist"
  command = "plutil"
  args = ["-convert", "xml1", "-o", "-", "-"]
