pager = ""

[data]
{{/* REMEMBER TO UPDATE ci.yaml AND README.md WHEN CHANGING QUESTIONS */}}
  admin = {{ promptBoolOnce . "admin" "Have admin access? y or n:" }} # true if have 'admin' access to the machine
  email = {{ promptStringOnce . "email" "Email address for Git:" | quote }} # Email address for Git
  full = {{ promptBoolOnce . "full" "Install everything? y or n:" }} # false if we're having to limit things because it's CI

[data.brew]
  prefix = "{{ output "brew" "--prefix" | trim }}"

[diff]
  exclude = ["externals"]

[[textconv]]
  pattern = "**/*.plist"
  command = "plutil"
  args = ["-convert", "xml1", "-o", "-", "-"]
