[user]
	name = Will May
	email = {{ .email }}
[pull]
	rebase = true
[push]
	default = simple
	autoSetupRemote = true
[core]
	autocrlf = input
	attributesfile = ~/.config/git/gitattributes
[init]
	defaultBranch = main
[commit]
	template = ~/.config/git/gitmessage
