{{- $zsh := joinPath .chezmoi.homeDir ".oh-my-zsh"  -}}
zmodload zsh/datetime

# dive doesn't support Docker contexts - https://github.com/wagoodman/dive/issues/397
{{- if .gui }}
export DOCKER_HOST="unix://{{ joinPath .chezmoi.homeDir ".colima" "docker.sock" }}"
{{- end }}

export HOMEBREW_CASK_OPTS="--appdir=~/Applications"

export PATH={{ includeTemplate "path" . | trim | quote }}

# Additional settings - https://github.com/ohmyzsh/ohmyzsh/wiki/Settings

# Path to your oh-my-zsh installation.
export ZSH="{{ $zsh }}"

export WEZTERM_USER="{{ output "id" "-un" | trim }}"

export BAT_THEME="Solarized (light)"

# Set name of the theme to load --- if set to "random", it will
# load a random theme each time oh-my-zsh is loaded, in which case,
# to know which specific one was loaded, run: echo $RANDOM_THEME
# See https://github.com/ohmyzsh/ohmyzsh/wiki/Themes
ZSH_THEME="wezterm-powerline-go"

# Disable bi-weekly auto-update checks as Chezmoi does it
zstyle ':omz:update' mode disabled

# Uncomment the following line if you want to change the command execution time
# stamp shown in the history command output.
# You can set one of the optional three formats:
# "mm/dd/yyyy"|"dd.mm.yyyy"|"yyyy-mm-dd"
# or set a custom format using the strftime function format specifications,
# see 'man strftime' for details.
HIST_STAMPS="yyyy-mm-dd"

# Would you like to use another custom folder than $ZSH/custom?
# ZSH_CUSTOM=/path/to/new-custom-folder
# Move the omz cache and custom folders out of $ZSH so that omz doesn't modify the contents of $ZSH
# This avoids issues when setting `exact` for an external as well as chezmoi not updating properly
ZSH_CUSTOM="{{ joinPath .chezmoi.homeDir ".oh-my-zsh_custom" }}"
ZSH_CACHE_DIR="{{ joinPath .chezmoi.homeDir ".cache" ".oh-my-zsh" }}"

# Use zoxide for `cd`
ZOXIDE_CMD_OVERRIDE="cd"

# Which plugins would you like to load?
# Standard plugins can be found in $ZSH/plugins/
# Custom plugins may be added to $ZSH_CUSTOM/plugins/
# Example format: plugins=(rails git textmate ruby lighthouse)
# Add wisely, as too many plugins slow down shell startup.
plugins=(
  direnv # direnv hook
  golang # completion - go doesn't produce autocompletion file
  rust # completion - rustc doesn't produce autocompletion file
  terraform # completion - Terraform produces a horrible autocompletion file
  zoxide # a better `cd` command
  zsh-interactive-cd # interactive list of directories on `cd`
  zsh-autosuggestions # auto-suggest commands based on history
  zsh-syntax-highlighting # syntax highlighting for the typed command
{{- if and .full .gui }}
  auto-notify # Send a notification when long running programs end
{{- end }}
)

{{ $fpaths := (joinPath .chezmoi.homeDir ".rustup" "**" "site-functions" | glob) -}}
{{ $fpaths = append $fpaths (joinPath .brew.prefix "opt" "curl" "share" "zsh" "site-functions") -}}
{{ $fpaths = append $fpaths (joinPath .brew.prefix "share" "zsh" "site-functions") -}}
{{ $fpaths = append $fpaths (joinPath .chezmoi.homeDir ".local" "fpath") -}}

FPATH="{{ $fpaths | join ":" }}:${FPATH}"
source {{ joinPath $zsh "oh-my-zsh.sh" }}

AUTO_NOTIFY_IGNORE+=("docker run" "docker exec" "docker logs" "vi" "dive" "k9s" "stern" "terraform console" "chezmoi diff" "top" "htop" "btop" "tail")

# make `*` slightly easier to see
ZSH_HIGHLIGHT_STYLES[globbing]=fg=blue,bold

# Tip: Use `cat` to discover the keybindings
# Remember that 'Cmd' doesn't work inside a terminal
bindkey "^[[1;3D" backward-word
bindkey "^[[1;3C" forward-word

# User configuration

alias ll='eza --all --long --icons=auto'

alias k='kubectl'

{{- if and (eq .chezmoi.os "linux") (.full) (.gui) }}
{{-   if eq (env "XDG_SESSION_TYPE") "wayland" }}
alias pbpaste="wl-paste"
alias pbcopy="wl-copy"
{{-   else }}
alias pbpaste="xclip -out -sel clipboard"
alias pbcopy="xclip -in -sel clipboard"
{{-   end }}
{{- end }}

{{- if (eq .chezmoi.os "darwin") }}
ulimit -n 10240
{{- end }}

# `ln -s path/to/folder` ~/.bookmarks/@folder to create a new bookmark
export CDPATH=".:{{ .chezmoi.homeDir }}/.bookmarks:/"
alias goto="cd -P"

# Replace cat with bat for syntax highlighting
alias cat='bat --paging=never'

# Use btop rather than top/htop
alias top=btop
alias htop=btop

alias imgcat='wezterm imgcat'

eval "$(atuin init zsh --disable-up-arrow)"

{{- $gcpSDK := joinPath .brew.prefix "share" "google-cloud-sdk" "completion.zsh.inc" }}
{{- if (stat ($gcpSDK)) }}
# gcloud completion script lacks '#compdef gcloud' at the top, so have to load it manually
source "{{ $gcpSDK }}"
{{- end }}
