[user]
	name = Will May
	email = {{ .email }}
[pull]
	rebase = true
[push]
	default = simple
[core]
	autocrlf = input
	attributesfile = ~/.config/git/gitattributes
{{- if .full -}}{{/*Probably won't have a SSH cert if doing CI*/}}
[url "git@github.com:"]
	insteadOf = https://github.com/
{{- end }}
[init]
	defaultBranch = main
[commit]
	template = ~/.config/git/gitmessage
