#!/usr/bin/env bash
# chezmoi:template:left-delimiter="# [[" right-delimiter=]]
# [[ if and (eq .chezmoi.os "linux") (.full) ]]

# Exit on error. Append || true if you expect an error.
set -o errexit
# Exit on error inside any functions or subshells.
set -o errtrace
# Do not allow use of undefined vars. Use ${VAR:-} to use an undefined VAR
set -o nounset
# Catch the error in case mysqldump fails (but gzip succeeds) in `mysqldump |gzip`
set -o pipefail
# Turn on traces, useful while debugging but commented out by default
#set -o xtrace

# No brew added to path as `awscli` installs glib which includes its own version of `gsettings` which doesn't read from the standard location

function install_extension() {
  file=$(mktemp)
  trap "rm -f $file" 0 2 3 15
  curl -Lfs "$1" -o "${file}"
  /usr/bin/gnome-extensions install -f "${file}"
  /usr/bin/gnome-extensions enable "$(unzip -p "${file}" metadata.json | jq -r '.uuid')"
}

function set_putWindow_pref() {
  /usr/bin/gsettings --schemadir ~/.local/share/gnome-shell/extensions/putWindow@clemens.lab21.org/schemas set org.gnome.shell.extensions.org-lab21-putwindow "$1" "$2"
}

function configure_gnome_shell() {
  # TODO better way of doing this?
  [[ "$(/usr/bin/gnome-extensions version)" == 3.36* ]] || (echo "Unsupported version of Gnome!" && exit 1)

  # caffeine
  install_extension https://extensions.gnome.org/download-extension/caffeine%40patapon.info.shell-extension.zip?version_tag=14531
  # putWindows
  install_extension https://extensions.gnome.org/download-extension/putWindow%40clemens.lab21.org.shell-extension.zip?version_tag=10507

  # configure putWindows
  # keep window on current screen?
  mash="<Super><Primary><Alt>"
  # {north, south, east, west} height - 50
  set_putWindow_pref north-height-0 50
  set_putWindow_pref north-height-1 50
  set_putWindow_pref north-height-2 50
  set_putWindow_pref south-height-0 50
  set_putWindow_pref south-height-1 50
  set_putWindow_pref south-height-2 50
  set_putWindow_pref left-side-widths-0 50
  set_putWindow_pref left-side-widths-1 50
  set_putWindow_pref left-side-widths-2 50
  set_putWindow_pref right-side-widths-0 50
  set_putWindow_pref right-side-widths-1 50
  set_putWindow_pref right-side-widths-2 50

  # move to top right corner - mash+2
  set_putWindow_pref put-to-corner-ne-enabled 1
  set_putWindow_pref put-to-corner-ne "['${mash}2']"
  # move to top left corner - mash+1
  set_putWindow_pref put-to-corner-nw-enabled 1
  set_putWindow_pref put-to-corner-nw "['${mash}1']"
  # move to bottom right corner - mash+4
  set_putWindow_pref put-to-corner-se-enabled 1
  set_putWindow_pref put-to-corner-se "['${mash}4']"
  # move to bottom left corner - mash+3
  set_putWindow_pref put-to-corner-sw-enabled 1
  set_putWindow_pref put-to-corner-sw "['${mash}3']"
  # move to top - mash+up
  set_putWindow_pref put-to-side-n-enabled 1
  set_putWindow_pref put-to-side-n "['${mash}Up']"
  # move to right - mash+right
  set_putWindow_pref put-to-side-e-enabled 1
  set_putWindow_pref put-to-side-e "['${mash}Right']"
  # move to bottom - mash+down
  set_putWindow_pref put-to-side-s-enabled 1
  set_putWindow_pref put-to-side-s "['${mash}Down']"
  # move to left - mash+left
  set_putWindow_pref put-to-side-w-enabled 1
  set_putWindow_pref put-to-side-w "['${mash}Left']"
  # move to center/maximize - mash+c
  set_putWindow_pref put-to-center-enabled 1
  set_putWindow_pref put-to-center "['${mash}c']"
  # disable move to configured location
  set_putWindow_pref put-to-location-enabled 0
  # move to the right screen - mash+n
  set_putWindow_pref put-to-right-screen-enabled 1
  set_putWindow_pref put-to-right-screen "['${mash}n']" # TODO test
  # move to the left screen - mash+p
  set_putWindow_pref put-to-left-screen-enabled 1
  set_putWindow_pref put-to-left-screen "['${mash}p']"  # TODO test

  # disable move focus
  set_putWindow_pref move-focus-enabled 0

  # Reload gnome-shell to load the new extensions
  killall -3 gnome-shell
}

function set_terminal_profile_pref() {
  profile=$(/usr/bin/gsettings get org.gnome.Terminal.ProfilesList default | cut -d\' -f2)
  # `awscli` installs glib which includes its own version of `gsettings` which doesn't read from the standard location
  /usr/bin/gsettings set org.gnome.Terminal.Legacy.Profile:/org/gnome/terminal/legacy/profiles:/:"$profile"/ "$1" "$2"
}

function set_setting_pref() {
  # `awscli` installs glib which includes its own version of `gsettings` which doesn't read from the standard location
  /usr/bin/gsettings set org.gnome.Terminal.Legacy.Settings "$1" "$2"
}

function configure_gnome_terminal() {
  # open new terminals in tabs ?

  set_terminal_profile_pref font 'Liberation Mono 10'
  set_terminal_profile_pref use-system-font false
  set_terminal_profile_pref default-size-columns 124
  set_terminal_profile_pref default-size-rows 30
  set_terminal_profile_pref scrollback-unlimited true
  set_setting_pref new-terminal-mode tab
}

# TODO plugins not supported on 22.04 configure_gnome_shell
configure_gnome_terminal

# [[- end ]]
