#!/usr/bin/env bash
# chezmoi:template:left-delimiter="# [[" right-delimiter=]]

# Exit on error. Append || true if you expect an error.
set -o errexit
# Exit on error inside any functions or subshells.
set -o errtrace
# Do not allow use of undefined vars. Use ${VAR:-} to use an undefined VAR
set -o nounset
# Catch the error in case mysqldump fails (but gzip succeeds) in `mysqldump |gzip`
set -o pipefail
# Turn on traces, useful while debugging but commented out by default
#set -o xtrace

export PATH=# [[ includeTemplate "path" . | trim | quote ]]

# [[- $brews := .all_os.brews ]]
# [[- $casks := list ]]
# [[- $taps := .all_os.taps ]]
# [[- $mases := dict ]]

# [[- if .full -]]
# [[-   $brews = concat $brews .all_os.full_brews -]]
# [[- end -]]

# [[- if eq .chezmoi.os "darwin" -]]
# [[-   $casks = concat $casks .mac_os.casks -]]
# [[-   $brews = concat $brews .mac_os.brews -]]
# [[-   $taps = concat $taps .mac_os.taps -]]

# [[-   if .app_store -]]
# [[-     $mases = merge $mases .mac_os_app_store.mas ]]
# [[-   end -]]

# [[-   if .full ]]
# [[-     $casks = concat $casks .mac_os.full_casks ]]
# [[-     if .admin ]]
# [[-       $casks = concat $casks .mac_os_admin.full_casks ]]
# [[-       $brews = concat $brews .mac_os_admin.full_brews ]]
# [[-     end ]]
# [[-   end ]]
# [[- else if eq .chezmoi.os "linux" ]]
# [[-   $taps = concat $taps .linux_os_admin.taps -]]
# [[-   if .full ]]
# [[-     $brews = concat $brews .linux_os_admin.full_brews ]]
# [[-   end ]]
# [[- end ]]

brew bundle --no-lock --file=/dev/stdin <<EOF
# [[ range ($taps | sortAlpha | uniq) -]]
tap "# [[ . ]]"
# [[ end -]]

# [[ range ($brews | sortAlpha | uniq) -]]
brew "# [[ . ]]"
# [[ end -]]

cask_args appdir: '~/Applications'
# [[ range ($casks | sortAlpha | uniq) -]]
cask "# [[ . ]]"
# [[ end -]]

# [[ range $k, $v := $mases -]]
mas "# [[ $v ]]", id: # [[ $k ]]
# [[ end -]]

vscode "HashiCorp.terraform" # Terraform
vscode "yzhang.markdown-all-in-one" # Markdown goodies
vscode "mushan.vscode-paste-image" # Image pasting for Markdown
vscode "ban.spellright" # Spell checking for text and Markdown
vscode "bierner.markdown-footnotes" # Support footnotes in Markdown
vscode "bierner.markdown-mermaid" # Support mermaid diagrams in Markdown
vscode "bpruitt-goddard.mermaid-markdown-syntax-highlighting" # Mermaid syntax highlighting
vscode "EditorConfig.EditorConfig" # EditorConfig support
vscode "ms-vscode.hexeditor" # hex editor
vscode "tomoki1207.pdf" # PDF viewer
EOF
