{{- if (eq .chezmoi.os "linux") -}}
#!/usr/bin/env bash

# Exit on error. Append || true if you expect an error.
set -o errexit
# Exit on error inside any functions or subshells.
set -o errtrace
# Do not allow use of undefined vars. Use ${VAR:-} to use an undefined VAR
set -o nounset
# Catch the error in case mysqldump fails (but gzip succeeds) in `mysqldump |gzip`
set -o pipefail
# Turn on traces, useful while debugging but commented out by default
#set -o xtrace

{{ $debs := list
     "curl"
     "docker.io"
     "git"
     "fonts-powerline"
     "gnome-tweaks"
     "wl-clipboard"
     "zsh"
 }}

sudo apt-get update
DEBIAN_FRONTEND=noninteractive xargs sudo apt-get install --assume-yes <<EOF
{{ range ($debs | sortAlpha | uniq) -}}
{{ . }}
{{ end -}}
EOF

{{ end -}}
