#!/usr/bin/env bash
# chezmoi:template:left-delimiter="# [[" right-delimiter=]]
# [[ if and (eq .chezmoi.os "linux") (.full) ]]

# Exit on error. Append || true if you expect an error.
set -o errexit
# Exit on error inside any functions or subshells.
set -o errtrace
# Do not allow use of undefined vars. Use ${VAR:-} to use an undefined VAR
set -o nounset
# Catch the error in case mysqldump fails (but gzip succeeds) in `mysqldump |gzip`
set -o pipefail
# Turn on traces, useful while debugging but commented out by default
#set -o xtrace

# No brew added to path as `awscli` installs glib which includes its own version of `gsettings` which doesn't read from the standard location

function set_terminal_profile_pref() {
  profile=$(/usr/bin/gsettings get org.gnome.Terminal.ProfilesList default | cut -d\' -f2)
  # `awscli` installs glib which includes its own version of `gsettings` which doesn't read from the standard location
  /usr/bin/gsettings set org.gnome.Terminal.Legacy.Profile:/org/gnome/terminal/legacy/profiles:/:"$profile"/ "$1" "$2"
}

function set_setting_pref() {
  # `awscli` installs glib which includes its own version of `gsettings` which doesn't read from the standard location
  /usr/bin/gsettings set org.gnome.Terminal.Legacy.Settings "$1" "$2"
}

function configure_gnome_terminal() {
  # open new terminals in tabs ?

  set_terminal_profile_pref font 'Liberation Mono 10'
  set_terminal_profile_pref use-system-font false
  set_terminal_profile_pref default-size-columns 124
  set_terminal_profile_pref default-size-rows 30
  set_terminal_profile_pref scrollback-unlimited true
  set_setting_pref new-terminal-mode tab
}

configure_gnome_terminal

# [[- end ]]
