#!/usr/bin/env bash
# chezmoi:template:left-delimiter="# [[" right-delimiter=]]

# Exit on error. Append || true if you expect an error.
set -o errexit
# Exit on error inside any functions or subshells.
set -o errtrace
# Do not allow use of undefined vars. Use ${VAR:-} to use an undefined VAR
set -o nounset
# Catch the error in case mysqldump fails (but gzip succeeds) in `mysqldump |gzip`
set -o pipefail
# Turn on traces, useful while debugging but commented out by default
#set -o xtrace

export PATH=# [[ includeTemplate "path" | trim | quote ]]

extensions=(
  "HashiCorp.terraform" # Terraform
  "yzhang.markdown-all-in-one" # Markdown goodies
  "mushan.vscode-paste-image" # Image pasting for Markdown
  "ban.spellright" # Spell checking for text and Markdown
  "bierner.markdown-footnotes" # Support footnotes in Markdown
  "bierner.markdown-mermaid" # Support mermaid diagrams in Markdown
  "bpruitt-goddard.mermaid-markdown-syntax-highlighting" # Mermaid syntax highlighting
  "EditorConfig.EditorConfig" # EditorConfig support
  "ms-vscode.hexeditor" # hex editor
)

for ext in "${extensions[@]}"; do
  code --install-extension "${ext}"
done
