#!/usr/bin/env bash
# chezmoi:template:left-delimiter="# [[" right-delimiter=]]

# Exit on error. Append || true if you expect an error.
set -o errexit
# Exit on error inside any functions or subshells.
set -o errtrace
# Do not allow use of undefined vars. Use ${VAR:-} to use an undefined VAR
set -o nounset
# Catch the error in case mysqldump fails (but gzip succeeds) in `mysqldump |gzip`
set -o pipefail
# Turn on traces, useful while debugging but commented out by default
#set -o xtrace

export PATH=# [[ includeTemplate "path" . | trim | quote ]]

# [[ $os := get .packages .chezmoi.os -]]

# [[- $taps := concat .packages.common.all.taps $os.all.taps -]]
# [[- $brews := concat .packages.common.all.brews $os.all.brews -]]
# [[- $casks := concat .packages.common.all.casks $os.all.casks -]]
# [[- $vscode := concat .packages.common.all.vscode $os.all.vscode -]]
# [[- if .full -]]
# [[-   $taps = concat $taps .packages.common.full.taps $os.full.taps -]]
# [[-   $brews = concat $brews .packages.common.full.brews $os.full.brews -]]
# [[-   $casks = concat $casks .packages.common.full.casks $os.full.casks -]]
# [[-   $vscode = concat $vscode .packages.common.full.vscode $os.full.vscode -]]
# [[-   if .admin -]]
# [[-     $taps = concat $taps .packages.common.admin.taps $os.admin.taps -]]
# [[-     $brews = concat $brews .packages.common.admin.brews $os.admin.brews -]]
# [[-     $casks = concat $casks .packages.common.admin.casks $os.admin.casks -]]
# [[-     $vscode = concat $vscode .packages.common.admin.vscode $os.admin.vscode -]]
# [[-   end ]]
# [[-   if .gui -]]
# [[-     $taps = concat $taps .packages.common.full_gui.taps $os.full_gui.taps -]]
# [[-     $brews = concat $brews .packages.common.full_gui.brews $os.full_gui.brews -]]
# [[-     $casks = concat $casks .packages.common.full_gui.casks $os.full_gui.casks -]]
# [[-     $vscode = concat $vscode .packages.common.full_gui.vscode $os.full_gui.vscode -]]
# [[-   end ]]
# [[- end -]]
# [[- if .gui -]]
# [[-   $taps = concat $taps .packages.common.gui.taps $os.gui.taps -]]
# [[-   $brews = concat $brews .packages.common.gui.brews $os.gui.brews -]]
# [[-   $casks = concat $casks .packages.common.gui.casks $os.gui.casks -]]
# [[-   $vscode = concat $vscode .packages.common.gui.vscode $os.gui.vscode -]]
# [[- end ]]

brew bundle --no-lock --file=/dev/stdin <<EOF
# [[ range ($taps | sortAlpha) -]]
tap # [[ . | quote ]]
# [[ end -]]

# [[ range ($brews | sortAlpha) -]]
brew # [[ . | quote ]]
# [[ end -]]

# [[ if ne (len $casks) 0 -]]
cask_args appdir: '~/Applications'
# [[ end -]]
# [[ range ($casks | sortAlpha) -]]
cask # [[ . | quote ]]
# [[ end -]]

# [[ range ($vscode | sortAlpha) -]]
vscode # [[ . | quote ]]
# [[ end -]]
EOF
