#!/usr/bin/env bash
# chezmoi:template:left-delimiter="# [[" right-delimiter=]]

# Exit on error. Append || true if you expect an error.
set -o errexit
# Exit on error inside any functions or subshells.
set -o errtrace
# Do not allow use of undefined vars. Use ${VAR:-} to use an undefined VAR
set -o nounset
# Catch the error in case mysqldump fails (but gzip succeeds) in `mysqldump |gzip`
set -o pipefail
# Turn on traces, useful while debugging but commented out by default
#set -o xtrace

export PATH=# [[ includeTemplate "path" . | trim | quote ]]

brew bundle --no-lock --file=/dev/stdin <<EOF
brew "bat" # cat with syntax highlighting
brew "chezmoi"
brew "curl"
brew "direnv"
brew "dive"
brew "docker" # Command line only
brew "docker-buildx"
brew "docker-compose"
brew "fzf" # Used by the ZSH history plugin as well executable_jq-interactive
brew "git"
brew "go"
brew "helm"
brew "htop"
brew "ipcalc"
brew "jq"
brew "kubectx" # Easily switch k8s contexts
brew "kubernetes-cli"
brew "k9s"
brew "packer"
brew "pandoc" # Transform markdown to man pages and other formats
brew "powerline-go"
brew "pv" # Can be used to write scripts for a demo that don't touch the internet (e.g. 'cat output.txt | pv --quiet --line-mode --rate-limit 5')
brew "rustup-init" # Manage rust
brew "stern" # Displays k8s pod logs better
brew "tealdeer" # Give examples of how to use commands
brew "terraform"
brew "terragrunt"
brew "tree"
brew "vault"

# [[ if .full -]]
brew "awscli"
brew "azure-cli"
brew "colima" # Utility to manage local Docker & Kubernetes VMs
brew "openjdk@17"
brew "pgcli" # PostgreSQL CLI
# [[- end ]]

vscode "HashiCorp.terraform" # Terraform
vscode "yzhang.markdown-all-in-one" # Markdown goodies
vscode "mushan.vscode-paste-image" # Image pasting for Markdown
vscode "ban.spellright" # Spell checking for text and Markdown
vscode "bierner.markdown-footnotes" # Support footnotes in Markdown
vscode "bierner.markdown-mermaid" # Support mermaid diagrams in Markdown
vscode "bpruitt-goddard.mermaid-markdown-syntax-highlighting" # Mermaid syntax highlighting
vscode "EditorConfig.EditorConfig" # EditorConfig support
vscode "ms-vscode.hexeditor" # hex editor
vscode "tomoki1207.pdf" # PDF viewer
EOF
