[Unit]
Description=Sync Google Photos
OnFailure=systemd-notify@%n.service

[Service]
Type=oneshot
ExecStart=/usr/bin/rclone --stats=30s --stats-one-line --verbose sync gphotos:media/by-month /media/blob/rclone/photos/
WorkingDirectory=/media/blob/rclone

[Install]
WantedBy=default.target
