[Desktop Entry]
Name=BambuStudio
Exec={{ joinPath .chezmoi.homeDir ".local" "bin" "BambuStudio.AppImage" }} %F
Icon=BambuStudio
Type=Application
Categories=Utility;
MimeType=model/stl;application/vnd.ms-3mfdocument;application/prs.wavefront-obj;application/x-amf;
