[Desktop Entry]
Name=Obsidian
Exec={{ joinPath .chezmoi.homeDir ".local" "bin" "Obsidian.AppImage" }} --no-sandbox %U
Terminal=false
Type=Application
Icon=obsidian
StartupWMClass=obsidian
Comment=Private and flexible writing app
MimeType=x-scheme-handler/obsidian;
Categories=Office;
