[Desktop Entry]
Name=WezTerm
Comment=Wez's Terminal Emulator
Keywords=shell;prompt;command;commandline;cmd;
Icon=org.wezfurlong.wezterm
StartupWMClass=org.wezfurlong.wezterm
TryExec={{ joinPath .brew.prefix "bin" "wezterm" }}
Exec={{ joinPath .brew.prefix "bin" "wezterm" }} start --cwd .
Type=Application
Categories=System;TerminalEmulator;Utility;
Terminal=false
X-AppImage-Version={{ output (joinPath .brew.prefix "bin" "wezterm") "--version" | trimPrefix "wezterm" | trim }}
